body{
    margin: 0;
    text-align: center;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 150px;
}

h1{
    margin-top: 0;
    font-size: 110px;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #66BFBF;

    
}

p{
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    margin-top: 0px;
    line-height: 2;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.middle-container{
    padding-top: 30px;
}


.lucaswu{
    width: 200px;
    height: 200px;
    margin-top: 50px;
}


.introduction{
    width: 25%;
    margin: 50px auto 50px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.web{
    width: 30%;
    float: left;
    margin-right: 30px;
}

.chillies{
    width: 30%;
    float: right;
}


h2{
    font-size: 55px;
    font-weight: normal;
    font-family: 'Alata', sans-serif;
    line-height: 2;
    color: #66BFBF;
}

h3{
    font-size: 30px;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    color: #66BFBF;
    margin-bottom: 0px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.conclusion{
    width: 50%;
    margin: 50px auto 50px auto;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container{
    margin-top: 50px;
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

a{
    color: #11999E;
    font-family: 'Alata', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 20px;
    margin-top: 20px;
}

